<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online FIR Report System - Services</title>
    
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header class="top_header">
        <h2 class="logo">PUBLIC FIR REPORT SYSTEM</h2>
        <nav class="navigation">
            <a href="/">Home</a>
            <a href="/about/">About</a>
            <a href="/contact/">Contact</a>
            <a href="/login/" style="margin-left: 0px;"><button class="btnLogin-popup">Login</button></a>
        </nav>
    </header>
<div class="div1" style="backdrop-filter:blur(15px);
                        margin-top: auto;
                        width: 1150px;
                        height: 550px;">
    <section class="services" style="margin-top: 150px;">
        <h2 style="margin-left: 45px; margin-bottom: 10px;">Our Services</h2>
        <ul style="margin-left: 40px;">
            <li style="font-size: large; margin-bottom: 5px;"><strong>24/7 FIR Reporting:</strong> Report a First Information Report (FIR) online anytime, anywhere.</li>
            <li style="font-size: large; margin-bottom: 5px;"><strong>Secure Platform:</strong> We ensure the security and confidentiality of your information.</li>
            <li style="font-size: large; margin-bottom: 5px;"><strong>Quick Response:</strong> Expedited processing of FIRs for swift action by authorities.</li>
            <li style="font-size: large; margin-bottom: 5px;"><strong>User-Friendly Interface:</strong> Easy-to-use interface for seamless reporting experience.</li>
            <li style="font-size: large; margin-bottom: 5px;"><strong>Track FIR Status:</strong> Check the status of your filed FIR anytime through our platform.</li>
        </ul>
    </section>
    <footer style="margin-top: 200px;
                color: #bb0b0b;">
        <p>&copy; 2024 Online FIR Report System. All rights reserved.</p>
    </footer>
</div>


    <script src="/static/js/scripts.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
